## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [15]:
# Your code here
import random

sample_list_1 = []

for i in range (0,80):
    num = random.randint(0,100)
    if num not in sample_list_1:
        sample_list_1.append(num)

print(sample_list_1)

[90, 24, 43, 88, 68, 83, 99, 6, 10, 53, 12, 85, 96, 29, 84, 64, 16, 46, 21, 72, 5, 22, 2, 82, 62, 47, 76, 8, 44, 71, 98, 1, 66, 35, 52, 9, 45, 63, 81, 48, 56, 97, 59, 87, 41, 25, 75, 17, 94]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [58]:
# Your code here

set1 = set(sample_list_1)

print ("the new length is",len(set1))

print (set1)

the new length is 91
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [22]:
# Your code here
sample_list_2 = []

for i in range (0,80):
    num = random.randint(0,100)
    sample_list_2.append(num)

print(sample_list_2)

[39, 3, 35, 6, 91, 0, 95, 19, 18, 67, 13, 53, 59, 65, 81, 53, 9, 48, 26, 46, 30, 62, 4, 14, 14, 82, 22, 68, 20, 27, 15, 84, 57, 18, 10, 70, 70, 21, 18, 78, 43, 65, 9, 95, 94, 18, 4, 90, 2, 6, 60, 20, 87, 3, 0, 63, 52, 0, 79, 4, 60, 27, 74, 43, 40, 69, 88, 89, 46, 13, 52, 31, 1, 50, 24, 43, 14, 19, 3, 84]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [57]:
# Your code here
set2 = set(sample_list_2)

print("the new length is",len(set2))

print(set2)

the new length is 53
{0, 1, 2, 3, 4, 6, 9, 10, 13, 14, 15, 18, 19, 20, 21, 22, 24, 26, 27, 30, 31, 35, 39, 40, 43, 46, 48, 50, 52, 53, 57, 59, 60, 62, 63, 65, 67, 68, 69, 70, 74, 78, 79, 81, 82, 84, 87, 88, 89, 90, 91, 94, 95}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Your code here
set3 = set1.difference(set2)

print (set3)

{5, 7, 8, 11, 12, 16, 17, 23, 25, 29, 32, 33, 34, 36, 37, 41, 42, 44, 45, 47, 51, 55, 56, 58, 61, 64, 66, 71, 72, 73, 75, 76, 77, 80, 83, 85, 86, 92, 93, 96, 97, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
# Your code here
set4 = set2.difference(set1)

print(set4)

{13, 15, 19, 20, 57, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
# Your code here
set5 = set1.intersection(set2)

print (set5)

{0, 1, 2, 3, 4, 6, 9, 10, 14, 18, 21, 22, 24, 26, 27, 30, 31, 35, 39, 40, 43, 46, 48, 50, 52, 53, 59, 60, 62, 63, 65, 67, 68, 69, 70, 74, 78, 79, 81, 82, 84, 87, 88, 89, 90, 91, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [38]:
# Your code here
line = '\n'
print ("the length values of the sets are", (len(set1)), (len(set2)), (len(set3)), (len(set4)), (len(set5)))
print(line)
print ("set2 (53) + set3 (44) = set1(91) + set4(6) = 97")
print(line)
print("set1(91) = set3(44) + set5 (45) = 91")
print(line)
print("set2(53) = set4 (6) + set 5(47) = 53")

the length values of the sets are 91 53 44 6 47


set2 (53) + set3 (44) = set1(91) + set4(6) = 97


set1(91) = set3(44) + set5 (45) = 91


set2(53) = set4 (6) + set 5(47) = 53

#### Create an empty set called `set6`.

In [ ]:
# Your code here

set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
# Your code here
set6 = {}
set6 = set()
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [47]:
# Your code here
if len(set1) == len(set6):
    print("the value is the same:", len(set1))
else: 
    print("they're not equal")

the value is the same 91

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [50]:
# Your code here
if set1.issubset(set2):
    print("set 2 is present in set 1")
else: 
    print("there is no presence of set 1 in set 2")
print('\n')
if set1.issubset(set3):
       print("set 2 is present in set 1")
else: 
    print("there is no presence of set 1 in set 3")

there is no presence of set 1 in set 2


there is no presence of set 1 in set 3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [61]:
# Your code here
set7= set()

set6 = set6.union(set3, set4, set5)

set7 = set7.union(set1, set2)

print(set7)

if set6 == set7:
    print("the sets are equal")
else:
    print("the sets are not equal")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
the sets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [76]:
# Your code here
import random

sample_list_1 = []

for i in range (0,80):
    num = random.randint(0,100)
    if num not in sample_list_1:
        sample_list_1.append(num)
        
set1 = set(sample_list_1)

set1.pop()

print(set1)
#for some reason it kept saying my set1 = 1, so i rewrote the script to properly generate it

{5, 6, 9, 10, 12, 13, 16, 19, 20, 23, 24, 25, 31, 32, 33, 34, 36, 38, 39, 40, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 58, 59, 64, 65, 67, 69, 70, 72, 74, 75, 78, 80, 83, 84, 85, 86, 91, 93, 95, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [85]:
# Your code here
new_set = []
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in set1:
    if i not in list_to_remove:
        new_set.append(i)
print(new_set)

[5, 6, 10, 12, 13, 16, 20, 23, 24, 25, 32, 33, 34, 36, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 64, 65, 67, 70, 72, 74, 75, 78, 80, 83, 84, 85, 86, 93, 95, 97, 98, 100]